body
{
    background-color: #ffffff;
    margin: 8%;
}

h1
{
    color: #003535;
    font-family:'Times New Roman', Times, serif;
    font-size: 100;
    font-weight:bolder;
    text-align: center;
}

h2
{
    color: #00b3b3;
    font-family: serif;
    font-size: 35;
    font-weight:bold;
    text-align: center;
    line-height: 0;
}

.titleBlock
{
    text-align: center;
    display:flex;
}

.headerBlock
{
    height: 20%;
}

.TopPart
{
    width:auto;
    background-size:cover;
    background-repeat: no-repeat;
}